/* Hotel CSS */

      /* .search {
        display: grid;
        grid: 'country1 country2' 'check1 check2';
        width: 35%;
        background-color: #ffffff;
        border: solid black 2px;
        padding: 30px;
        border-radius: 2em;
        position: absolute;
        top: 400px;
      }
      #search {
        width: 30%;
        display: flex;
        justify-self: center;
      }
      
      .country1 {grid-area: country1;}
      .country2 {grid-area: country2;}
      .check1 {grid-area: check1;}
      .check2 {grid-area: check2;}

      .country1, .country2, .check1, .check2 {
        font-size: large;
        border: solid white 10px;
        background-color: #95c1cb;
        padding: 10px;
      }
      #rooms {
        width: 30px;
      } */


/* <form class="search" action="">
<label class="country1" for="country">Country:
<select id="country" name="country">
  <option value="Japan">Japan</option>
  <option value="France">France</option>
  <option value="Thailand">Thailand</option>
  <option value="Korea">Korea</option>
  <option value="Spain">Spain</option>
  <option value="Germany">Germany</option>
</select>
</label>

<label class="country2" for="rooms">Rooms
<input type="number" id="rooms" name="rooms" min="1">
</label><br>

<label class="check1" for="ch_in">Check In
<input type="date" min="2023-04-07" id="ch_in" name="ch_in">
</label>
<label class="check2" for="ch_out">Check Out
<input type="date" min="2023-04-07" id="ch_out" name="ch_out">
</label>

<input type="submit" value="Search" id="search">
</form>  */