/* common css here */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root{
  --bg-color: #fff;
  --text-color: #221314;
  --second-color: #5a7184;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --small-font: 2rem;

}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12%;
  transition: ease .40s;
}

.logo{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--bg-color);
}

.navbar{
  display: flex;
}

.navbar a {
  color: var(--bg-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
} 

.navbar a:hover{
  background: var(--bg-color);
  color: #29c3e5;
  box-shadow: 5px 10px 30px rgba(46, 45, 45, 0.2);
  border-radius: 4px;
}

#menu-icon{
  color: var(--bg-color);
  font-size: 35px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}

footer{
  padding-top: 5rem;
  background: #5a7184;
  height: auto;
  width: 100vw;
  color: #f2f2f2;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}

.socials a i{
  font-size: 2rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background:  #5a7184;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: var(--small-font);
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 300;
}

.home{
  padding-top: 80px;
  padding-right: 80px;
  padding-left: 25%;
  padding-bottom: 60px;
}

.home{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./media/index_bg.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
}

.home-text h1{
  font-size: var(--big-font);
  line-height: 1.2;
  color: var(--bg-color);
  letter-spacing: 3px;
}

.home-text p{
  color: #ffffffbf;
  font-size: var(--small-font);
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 50px;

}

header.sticky{
  background: white;
  padding: 10px 18%;
  box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
}

.sticky .logo{
  color: var(--text-color);
}

.sticky .navbar a{
  color: var(--text-color);
}

.sticky a:hover{
  background: var(--bg-color);
  color: #29c3e5;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}

.home-offer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.home-offer h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--big-font);
  line-height: 103px;
  color: #557177;
  padding-bottom: 3rem;
}

.home-offer p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--small-font);
  line-height: 39px;
  text-align: center;

  color: #000000;
}

.home-image-flex{
  display: flex;
  flex-direction: column;
}

.home-image-flex h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--big-font);
  line-height: 103px;
  color: #FFFFFF;
  margin-top: 78px;
  margin-left: 96px;

}

.home-flexbox-item-1{
  background: url(./media/home_image1.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-1:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.home-flexbox-item-2{
  background: url(./media/home_image2.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-2:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.home-flexbox-item-3{
  background: url(./media/home_image3.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-3:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.home-flexbox-item-4{
  background: url(./media/home_image4.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-4:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.continer{
  padding-bottom: 10rem;
}

.continer-box h4 {
  position: absolute;
  width: 150px;
  height: 85px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #557177;
}

.row-items{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--big-font);
  line-height: 103px;
  color: #557177;
  margin: 80px;
  margin-bottom: 40px;
  text-align: center;
}

/* Flights CSS */
.flight{
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(./media/flights_bg.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
}

.flight-text{
  color: #ffffffda;
  position: relative;
  float: left;
  padding: 30px;
  bottom: 20%;
  font-size: 50px;
  font-weight: 500;
}

.search .field-holder {
  position: relative;
  width: 30%;
  float: left;
  margin-bottom: 1.25em;
}

.name, .from, .to, .departure, .return, .passengers {
  font-size: large;
  padding: 15px;
}

.search {
  width: 70%;
  background-color: #ffffffc6;
  padding: 20px;
  border-radius: 1em;
  z-index: 5;
  position: absolute;
  top: 59%;
  margin-left: 15%;
  border: solid black 2px;
}

#passengers {
  width: 130px;
}

.search input {
  border:0;
  border-bottom: 3px solid #dfdfdf;
  border-radius: 10px;
  outline: none;
  transition: .3s ease-in-out;
}

.search label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #557177;
  display: flex;
  align-items: center;
  cursor: text;
  transition: .3s ease-in-out;
}

.search input, label {
  font-size: 0.9em;
  height: 50px;
}

.search input:focus + label, .search input:valid + label{
  font-size: 0.75em;
  top: -17px;
}

.flight_button {
  border: none;
  border-radius: 1em;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  width: 10%;
}

.title {
  font-family: 'Inter';
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: #557177;
  margin-top: 8%;
  margin-bottom: 2%;
}
.mySlides {display: none}
.mySlides > img {vertical-align: middle; 
  max-height: 400px;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slidetext {
  background-color: #a8c3e0af;
  border-radius: 25px;
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 26%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activepic, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.one {
  border-radius: 25px;
  width: 100%;
  height: 250px;
}
.two {
  max-width: 110px;
  float: right;
}

.title2 {
  font-family: 'Inter';
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: #557177;
  grid-area: header2; 
  margin-top: 12%;
  margin-bottom: 2%;
}

.flights .cust {
  padding-top: 10px;
  padding-right: 10px;
}
.flights .recommendations{
  margin: 30px;
  font-family: 'Inter';
  color: #557177;
}
.review1 {
  font-style: italic;
}
.flights h2{
  font-size: 40px;
  text-align: center;
  font-family: 'Inter';
  color: #557177;
}
.rec h2 {
  padding-top: 30px;
}
.flights .rec-recommendations{
  display: flex;
}
.flights .rec-recommendations .rec-box{
  margin: 5px;
  padding: 17px;
  font-size: 20px;
  text-decoration: none;
  transition: transform .2s;
}
.flights .rec-recommendations .recanim:hover{
  transform:scale(1.1);
}
.flights .rec-recommendations .rec-box p{
  padding-top: 10px;
}

.rec-recommendations p {
  color: #000000;
}

.flights .reviewer {
  text-align: left;
  padding-left: 10px;
}

.flights .review .review1 {
  text-align: center;
  width: 50%;
  float: left;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.activeanim {
  opacity: 1;
}
.activeanim.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.activeanim.fade-left {
  animation: fade-left 1s ease-in;
}
.activeanim.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Hotels CSS */

.hotel{
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(./media/hotel_bg.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
}

.hotel-text{
  color: #ffffffda;
  position: relative;
  left: 38%;
  top: -15%;
  font-size: 50px;
  font-weight: 500;
}

.hotel-search {
  width: 70%;
  background-color: #ffffffc6;
  padding: 20px;
  border-radius: 1em;
  z-index: 5;
  position: absolute;
  top: 55%;
  margin-left: 15%;
  border: solid black 2px;
}

.hotel-search .field-holder {
  position: relative;
  width: 30%;
  float: left;
  margin-bottom: 1.25em;
}

.hotel-search input {
  border:0;
  border-bottom: 3px solid #dfdfdf;
  border-radius: 10px;
  outline: none;
  transition: .3s ease-in-out;
}

.hotel-search label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #557177;
  display: flex;
  align-items: center;
  cursor: text;
  transition: .3s ease-in-out;
}

.hotel-search input, label {
  font-size: 0.9em;
  height: 50px;
}

.hotel-search input:focus + label, .hotel-search input:valid + label{
  font-size: 0.75em;
  top: -17px;
}

.hotel_button {
  border-radius: 1em;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  grid-area: search;
  border: none;
  height: 40px;
  width: 180px;
  background-color: #cfe0e4;
  transform: translate(15px, 17px);
}

.hotel-one {
  border-radius: 25px;
  max-width: 90%;
  height: 250px;
}

.hotel-two {
  max-width: 110px;
  margin-top: 4%;
  margin-right: 35%;
}

.title-rec { grid-area: header2;}
.rec1 { grid-area: rec1; font-size: 25px;}
.rec2 { grid-area: rec2; font-size: 25px;}
.rec3 { grid-area: rec3; font-size: 25px;}
.rec4 { grid-area: rec4; font-size: 25px;}
.hotel_recommendations {
  width: 100%;
  display: grid;
  grid-template-areas: 
  'header2 header2 header2 header2'
  'rec1 rec2 rec3 rec4';
  gap: 10px;
  top: 105%;
  font-size: xx-large;
  text-align: center;
  position: absolute;
  margin: auto;
}

.title-rec {
  font-family: 'Inter';
  font-size: 60px;
  text-align: center;
  padding: 10px;
  color: #557177;
  padding-bottom: 25px;
  margin-top: -5%;
}
.rec1, .rec2, .rec3, .rec4, .continer-box {
  transition: transform .2s;
}

.rec1:hover, .rec2:hover, .rec3:hover, .rec4:hover, .continer-box:hover{
  transform:scale(1.2);
}

.title-pop {
  font-family: 'Inter';
  font-size: 60px;
  text-align: center;
  padding: 10px;
  color: #557177;
  margin-top: 43%;
}

/* Caption text */
.desc {
  background-color: #a8c3e094; 
  border-radius: 25px;
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 30%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.facilities{
  padding-bottom: 10rem;
}

.fac-box h4 {
  position: absolute;
  width: 150px;
  height: 85px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #557177;
}

.fac-items{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fac-text h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 103px;
  color: #557177;
  margin: 80px;
  margin-bottom: 40px;
  text-align: center;
}


/* About_Us CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.about-home{
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
  padding-top: 210px;
  padding-left: 3%;
  overflow: hidden; /* hide any overflow caused by the parallax effect */
}

.about-home::before { /* create a pseudo-element to hold the background image */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./media/about_bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* set the background image to fixed */
  z-index: -1; /* send the pseudo-element to the back */
}

.about-home-text{
  position: relative; /* position the text content relative to the section */
}

.about-home-text h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 80px;
  line-height: 97px;
  color: #FFFFFF;
}

.about-home-text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.about-home-offer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-home-offer h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 103px;
  color: #557177;
  padding-bottom: 3rem;
  text-align: center;
}

.about-home-offer p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.about-home-image-flex{
  display: flex;
  flex-direction: column;
}


.about-flexbox-item-1{
  background: url(./media/about_cp.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.about-flexbox-item-2{
  background: url(./media/about_j.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.about-flexbox-item-3{
  background: url(./media/about_t.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.about-team-content{
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8rem;
  margin-bottom: -8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;

}
.about-team-content img{
  width: 200px;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.about-box{
  padding: 16px;
  background: #557177;
  border-radius: 15px;
  transition: all .38s ease;
}
.about-box h3{
  font-family: 'Inter';
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}
.about-box h5{
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.about-box:hover{
  transform: translateY(-20px);
  cursor: pointer;
}



/* Support CSS */

.support_container1{
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
  overflow: hidden; /* hide any overflow caused by the parallax effect */
}

.support_container1::before { /* create a pseudo-element to hold the background image */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./media/dubai.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* set the background image to fixed */
  z-index: -1; /* send the pseudo-element to the back */
}

.support_title1{
  position: relative; /* position the text content relative to the section */
}

/*.support_container1 { 
  background-image: url(./media/dubai.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom:0%;
  padding-top: 15%;
}*/

.support_title1 h1{
  text-align: right;
  padding-right: 20%;
  padding-bottom: 40%;
  padding-left: 20%;
  font-size: 70px;
  font-family: 'Inter';
  color: #5a7184;
}

.support_title2 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
  font-size: 45px;
  color: #5a7184;
}

.support_title3 {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 5%;
  font-size: 35px;
  margin-left: 20%;
  margin-right: 20%;
  color: #5a7184;
}

a {
  text-decoration: none;
}


.slideshow-container2 {
  position: relative;
  margin: auto;
}

section .cust {
  padding-top: 10px;
  padding-right: 10px;
}
section .recommendations{
  margin: 30px;
  font-family: 'Inter';
  color: #557177;
}
section h2{
  font-size: 40px;
  text-align: center;
}
section .rec-recommendations{
  display: flex;
}

section .rec-recommendations .rec-box{
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
section .rec-recommendations .rec-box p{
  padding-top: 10px;
}
section .reviewer {
  text-align: left;
  padding-left: 10px;
}

section .review .review1 {
  text-align: center;
  width: 50%;
  float: left;
}

/* SUPPORT */

.support_container1 { 
  background-image: url(./media/dubai.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom:0%;
  padding-top: 15%;
}

.support_title1 {
  text-align: right;
  padding-right: 12%;
  padding-bottom: 50%;
  padding-left: 40%;
  font-size: 70px;
  font-family: 'Inter';
  color: #5a7184;
}

.support_title2 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
  font-size: 45px;
  color: #5a7184;
}

.support_title3 {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 5%;
  font-size: 35px;
  margin-left: 20%;
  margin-right: 20%;
  color: #5a7184;
}

a {
  text-decoration: none;
}

.col-md-7{
  padding-top:2%;

}

.text h2{
  padding-top: 5%;
  font-size: 70px;
  padding-bottom: 2%;
}

.row-items h4{
  font-size: 30px;
  padding-top: 2%;
}

.line{
  padding-bottom: 6%;
  background-color: #fff;
}


/* media queries */

@media (max-width: 1400px) {
  header{
    padding: 17px 3%;
    transition: .3s;
}

  header.sticky{
    padding: 10px 3%;
    transition: .3s;
  }

  section{
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 25%;
    padding-bottom: 60px;
    transition: .2s;
  }

  :root{
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1.5rem;
    --small-font: 1.5rem;

  }
}

@media (max-width: 1040px) {
  #menu-icon{
    display: block;
}

  .sticky #menu-icon{
    color: var(--text-color);
  }

  .home{
    height: 88vh;
  }

  .navbar{
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgb(168, 168, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 30px;
    transition: 0.5s all;
  }

  .navbar a{
    display: block;
    margin: 1.2rem 0;
  }

  .navbar a:hover{
    background: var(--bg-color);
    color: #29c3e5;
    box-shadow: 5px 10px 30px rgba(46, 45, 45, 0.2);
    border-radius: 4px;
  }

  .sticky .navbar a{
    color: var(--bg-color);
  }

  .sticky .navbar a:hover{
    background: var(--bg-color);
    color:  #29c3e5;
  }

  .open{
    right: 0;
  }
}

@media (max-width: 900px){
  .flights .rec-recommendations{
    flex-direction: column;
  }
}

/*for mobile*/
@media only screen and (max-width: 767px) {
 
  /*about-us*/
  .about-home-text{
    position: left;
  }
  
  .about-home-text h1{
    font-size: 50px;
  }
  
  .about-home-text p{
    font-size: 20px;
  }

  .about-home-offer h1{
    font-size: 45px;
  }
  
  .about-home-offer p{
    font-size: 15px;
  }

  .about-team-content{
    grid-template-columns: repeat(auto-fit, minmax(auto, 140px));
  }
  .about-team-content img{
    width: 90px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .about-box{
    padding: 9px;
  }
  .about-box h3{
    font-size: 15px;
  }
  .about-box h5{
    font-size: 10px;
  }

  /* Support */
  .container1 {
    padding: 80px;
  }

  .support_container1{
    position: left;
  }
  
  .support_container1 h1{
    font-size: 50px;

  }

  .support_title2 {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }

  .support_title3 {
    font-size: 20px;
    padding-top: 20px;
  }

  .support_title1 h1 {
    font-size: 30px;
    padding-left: 26px;
    padding-top: 0px;
    padding-bottom: 150px;
    text-align: right;
  }

  /* hotels*/

  .hotel-text{
    font-size: 25px;
    margin-left: -42%;
    margin-top: -20%;
  }

  .hotel-search {
    height: 45%;
    top: 50%;
  }

  .hotel-search .field-holder #name, .hotel-username {
    width: 120%;
    margin-top: 10%;
    margin-left: 10%;
  }

  .hotel-search .field-holder #from, .stay {
    width: 100%;
    margin-top: 10%;
    margin-left: 100%;
  }

  .hotel-search .field-holder #to, .type {
    width: 220%;
    transform: translate(-70%, -10%);
  }

  .hotel-search .field-holder #adults, .adults {
    width: 100%;
    margin-top: 100%;
    margin-left: -190%;
  }

  .hotel-search .field-holder #children, .children {
    width: 100%;
    transform: translate(120%, -140%);
  }

  .hotel-search .field-holder #rooms, .rooms {
    width: 100%;
    transform: translate(130%, -140%);
  }
  .hotel-search .field-holder #ch_in, .ch_in {
    width: 160%;
    transform: translate(-10%, -10%);
  }

  .hotel-search .field-holder #ch_out, .ch_out {
    width: 160%;
    transform: translate(50%, -10%);
  }
  
  .hotel_button {
    font-size: 20px;
    height: 40px;
    width: 180px;
    transform: translate(35px, -10px);
  }

  .title-rec { grid-area: header2;}
  .rec1 { grid-area: rec1;}
  .rec2 { grid-area: rec2;}
  .rec3 { grid-area: rec3;}
  .rec4 { grid-area: rec4;}
  .hotel_recommendations {
  width: 90%;
  display: grid;
  grid-template-areas: 
  'header2 header2 header2 header2'
  'rec1 rec1 rec1 rec1' 
  'rec2 rec2 rec2 rec2' 
  'rec3 rec3 rec3 rec3' 
  'rec4 rec4 rec4 rec4';
  gap: 1px;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin: auto;
  }

  .title-rec {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    margin-top: 70%;
  }

  .rec1,.rec2,.rec3,.rec4 {
    font-size: 17px;
    font-family: "Inter";
    padding-bottom: 17px;
  }

  .hotel-one {
    width: 200px;
    height: 160px;
  }

  
  
  .title-pop {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin-top: 20%;
  }

  .desc {
    font-size: 20px;
    width: 70%;
    color: #000000;
    background-color: #f2f2f2;
  }

  .facilities {
    margin-top: -25%;
    margin-bottom: -75%;
  }

  .fac-box {
    padding-bottom: 5rem;
  }
  
  .fac-box h4 {
    font-size: 15px;
    text-align: center;
    margin-left: -2rem;
  }
  
  .fac-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .fac-img img {
    width: 100px;
    height: auto;
    align-items: center;
  }
  
  .fac-text h2{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  /* flights */

  .flight-text {
    font-size: 25px;
    margin-left: 2%;
    margin-top: 40%;
  }

  .search {
    width: 80%;
    max-height: 50%;
    margin-left: 14%;
    top: 54%;
    border: solid black 2px;
  }

  .search {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
  }

  .title {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin-top: 30%;
  }

  .slidetext {
    font-size: 20px;
    width: 60%;
    color: #000000;
    background-color: #f2f2f2;
  }

  .rec h2 {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    margin-top: -15%;
    margin-left: -60px;
  }

  .rec-recommendations p {
    color: #000000;
  }
  
  .rec-box p{
    font-size: 20px;
    width: 100%;
    margin-right: 90px;
  }

  .rec-box .two {
    margin-left: -60px;
  }

  .rec-box .one {
    width: 200px;
    height: 190px;
    margin-left: -60px;
  } 

  .search {
    height: 40%;
    top: 50%;
  }

  .search .field-holder #name, .username {
    width: 150%;
    transform: translate(5%, 10%);
  }

  .search .field-holder #passengers, .passengers {
    width: 130%;
    transform: translate(150%, -130%);
  }

  .search .field-holder #from, .airport1 {
    width: 130%;
    transform: translate(-70%, 150%);
  }

  .search .field-holder #to, .airport2 {
    width: 130%;
    transform: translate(-10%, 150%);
  }

  .search .field-holder #departure, .departure {
    width: 155%;
    transform: translate(-70%, 140%);
  }

  .search .field-holder #return, .return {
    width: 155%;
    transform: translate(-10%, 140%);
  }
  
  .flight_button {
    height: 40px;
    width: 180px;
    transform: translate(55px, 90px);
  }

  .title {
    font-size: 35px;
    margin-top: 45%;
  }

  /*things to know*/
  .continer-box {
    padding-bottom: 5rem;
  }
  
  .continer-box h4 {
    font-size: 15px;
    text-align: center;
    margin-left: -2rem;
  }
  
  .row-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .continer-img img {
    width: 100px;
    height: auto;
    align-items: center;
  }
  
  .text h2{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  /*footer*/
  footer{
    padding-top: 3rem;
  }
    
  .footer-content h3{
    font-size: 35px;
  }
  
  .footer-content p{
    max-width: 90%;
    font-size: 11px;
    padding-top: 16px;
  }

  .footer-bottom p{
    font-size: 16px;
  }

  /*index*/
  .home-text h1{
    font-size: 50px;
  }
  
  .home-text p{
    font-size: 20px;
  }

  .home-offer h1{
    font-size: 45px;
    text-align: center;
    line-height: 70px;
  }
  
  .home-offer p{
    font-size: 15px;
    width: 90%;
  }

  .home-image-flex h1{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 35px;
  
  }
  
  .home-flexbox-item-1{
    height: 200px;
  }
  
  .home-flexbox-item-2{
    height: 200px;
  }
  
  .home-flexbox-item-3{
    height: 200px;
  }
  
  .home-flexbox-item-4{
    height: 200px;
  }
}


/*for tablet*/
@media only screen and (min-width: 768px) and (max-width: 1040px) {

  /*about-us*/
  .about-home-text{
    position: left;
  }
  
  .about-home-text h1{
    font-size: 50px;

  }
  
  .about-home-text p{
    font-size: 20px;
  }

  .about-home-offer h1{
    font-size: 45px;
  }
  
  .about-home-offer p{
    font-size: 15px;
  }

  .about-team-content{
    grid-template-columns: repeat(auto-fit, minmax(auto, 140px));
  }
  .about-team-content img{
    width: 90px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .about-box{
    padding: 9px;
  }
  .about-box h3{
    font-size: 15px;
  }
  .about-box h5{
    font-size: 10px;
  }

  /*things to know*/
  .continer-box {
    padding-bottom: 5rem;
  }
  
  .continer-box h4 {
    font-size: 15px;
    text-align: center;
    margin-left: -2rem;
  }
  
  .row-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .continer-img img {
    width: 100px;
    height: auto;
    align-items: center;
  }
  
  .text h2{
    font-size: 40px;
    text-align: center;
  }

  /*footer*/
  footer{
    padding-top: 3rem;
  }
    
  .footer-content h3{
    font-size: 35px;
  }
  
  .footer-content p{
    max-width: 90%;
    font-size: 11px;
    padding-top: 16px;
  }

  .footer-bottom p{
    font-size: 16px;
  }

  /*index*/
  .home-text h1{
    font-size: 50px;
  }
  
  .home-text p{
    font-size: 20px;
  }

  .home-offer h1{
    font-size: 45px;
    text-align: center;
    line-height: 70px;
  }
  
  .home-offer p{
    font-size: 15px;
    width: 90%;
  }

  .home-image-flex h1{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 35px;
  
  }
  
  .home-flexbox-item-1{
    height: 200px;
  }
  
  .home-flexbox-item-2{
    height: 200px;
  }
  
  .home-flexbox-item-3{
    height: 200px;
  }
  
  .home-flexbox-item-4{
    height: 200px;
  }

  /*support*/

  .support_container1{
    position: left;
  }
  
  .support_container1 h1{
    font-size: 50px;

  }
  .container1 {
    padding: 80px;
  }

  .support_title2 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
  }

  .support_title3 {
    font-size: 25px;
    padding-top: 20px;
  }

  .support_title1 {
    font-size: 50px;
    padding-right: 4000px;
    padding-left: 90px;
    padding-top: 30px;
    color: #FFFFFF;
    text-align: right;
  }

  /* hotels*/

  .hotel-text{
    font-size: 35px;
    margin-left: -28%;
    margin-top: -5%;
  }

  .hotel-search {
    height: 45%;
    top: 50%;
  }

  .hotel-search .field-holder #name, .hotel-username {
    width: 120%;
    margin-top: 10%;
    margin-left: 10%;
  }

  .hotel-search .field-holder #from, .stay {
    width: 100%;
    margin-top: 10%;
    margin-left: 100%;
  }

  .hotel-search .field-holder #to, .type {
    width: 220%;
    transform: translate(-70%, -330%);
  }

  .hotel-search .field-holder #adults, .adults {
    width: 100%;
    margin-top: 100%;
    margin-left: -190%;
  }

  .hotel-search .field-holder #children, .children {
    width: 100%;
    transform: translate(120%, -140%);
  }

  .hotel-search .field-holder #rooms, .rooms {
    width: 100%;
    transform: translate(130%, -140%);
  }
  .hotel-search .field-holder #ch_in, .ch_in {
    width: 130%;
    transform: translate(5%, -150%);
  }

  .hotel-search .field-holder #ch_out, .ch_out {
    width: 130%;
    transform: translate(75%, -150%);
  }
  
  .hotel_button {
    font-size: 20px;
    height: 40px;
    width: 180px;
    transform: translate(-90%, -10px);
  }

  .hotel_recommendations {
    top: 105%;
  }

  .title-rec {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    margin-top: -5%;
  }
  
  .title-pop {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin-top: 85%;
  }

  .desc {
    font-size: 20px;
    width: 60%;
    color: #000000;
    background-color: #f2f2f2;
  }

  .fac-box {
    padding-bottom: 5rem;
  }

  .fac-text h2{
    font-size: 35px;
    text-align: center;
    margin-top: -5%;
  }
  
  .fac-box h4 {
    font-size: 15px;
    text-align: center;
    margin-left: -2rem;
  }
  
  .fac-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .fac-img img {
    width: 100px;
    height: auto;
    align-items: center;
  }

  /* flights */

  .flight-text {
    font-size: 45px;
    margin-left: 2%;
    margin-top: 10%;
  }

  .search {
    width: 80%;
    height: 33%;
    margin-left: 10%;
    top: 50%;
    border: solid black 2px;
  }

  .title {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin-top: 30%;
  }

  .slidetext {
    font-size: 20px;
    width: 60%;
    color: #000000;
    background-color: #f2f2f2;
  }

  .rec h2 {
    font-family: 'Inter';
    font-size: 35px;
    text-align: center;
    margin-top: -15%;
    margin-left: -20%;
  }

  .rec-recommendations p {
    color: #000000;
  }
  
  .rec-box p{
    font-size: 20px;
    width: 100%;
  }

  .rec-box .two {
    margin: 10%;
  }

  .search .field-holder #name, .username {
    width: 150%;
    transform: translate(5%, 10%);
  }

  .search .field-holder #passengers, .passengers {
    width: 130%;
    transform: translate(145%, -130%);
  }

  .search .field-holder #from, .airport1 {
    width: 130%;
    transform: translate(-70%, 150%);
  }

  .search .field-holder #to, .airport2 {
    width: 130%;
    transform: translate(-10%, 150%);
  }

  .search .field-holder #departure, .departure {
    width: 150%;
    transform: translate(-60%, 140%);
  }

  .search .field-holder #return, .return {
    width: 150%;
    transform: translate(-10%, 140%);
  }
  
  .flight_button {
    height: 40px;
    width: 180px;
    transform: translate(250px, 65px);
  }

  .title {
    font-size: 35px;
    margin-top: 20%;
  }


  /*things to know*/
  .continer-box {
    padding-bottom: 5rem;
  }
  
  .continer-box h4 {
    font-size: 15px;
    text-align: center;
    margin-left: -2rem;
  }
  
  .row-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .continer-img img {
    width: 100px;
    height: auto;
    align-items: center;
  }
  
  .text h2{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }

}

/*
@media only screen and (min-width: 768px) {
  
  .navbar {
    display: flex;
  }
  
  .bx-menu {
    display: none;
  }
  
 
  .support_container1 {
    padding: 120px 0 80px;
  }
  

  .support_container2 {
    padding: 80px 0;
  }
  
 
  .container1 {
    padding: 80px;
  }
  
 
  .container2 {
    padding: 80px;
  }
  

  .footer {
    padding: 60px 0 40px;
  }
  
  .footer-items {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-item {
    margin: 20px;
  }
  
  .footer-social-links {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {

  .navbar {
    display: none;
  }
  
  .bx-menu {
    display: block;
  }
  

  .support_container1 {
    padding: 80px 0 60px;
  }
  

  .support_container2 {
    padding: 60px 0;
  }
  
  .container1 {
    padding: 60px 20px;
  }
  

  .container2 {
    padding: 60px 20px;
  }
  
  .continer-box {
    width: 50%;
    padding: 0 10px;
  }
  

  .footer {
    padding: 40px 0 20px;
  }
  
  .footer-items {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-item {
    margin: 10px;
  }
  
  .footer-social-links {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 90%;
  }
  .support_title1 {
    font-size: 30px;
  }
  .footer-content {
    font-size: 30px;
  }

  .continer{
    padding-bottom: 10rem;
    
  }
  
  .continer-box h4 {
    position: absolute;
    width: 150px;
    height: 85px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 44px;
    color: #557177;
  }
  
  .row-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .text h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 103px;
    color: #557177;
    margin: 80px;
    margin-bottom: 40px;
    text-align: center;
  }
} */