/* common css here */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root{
  --bg-color: #fff;
  --text-color: #221314;
  --second-color: #5a7184;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --small-font: 2rem;

}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12%;
  transition: ease .40s;
}

.logo{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--bg-color);
}

.navbar{
  display: flex;
}

.navbar a {
  color: var(--bg-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
} 

.navbar a:hover{
  background: var(--bg-color);
  color: #29c3e5;
  box-shadow: 5px 10px 30px rgba(46, 45, 45, 0.2);
  border-radius: 4px;
}

#menu-icon{
  color: var(--bg-color);
  font-size: 35px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}

footer{
  padding-top: 5rem;
  background: #5a7184;
  height: auto;
  width: 100vw;
  color: #f2f2f2;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}

.socials a i{
  font-size: 2rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background:  #5a7184;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: var(--small-font);
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 300;
}

.home{
  padding-top: 80px;
  padding-right: 80px;
  padding-left: 25%;
  padding-bottom: 60px;
}

.home{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./media/index_bg.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
}

.home-text h1{
  font-size: var(--big-font);
  line-height: 1.2;
  color: var(--bg-color);
  letter-spacing: 3px;
}

.home-text p{
  color: #ffffffbf;
  font-size: var(--small-font);
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 50px;

}

header.sticky{
  background: white;
  padding: 10px 18%;
  box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
}

.sticky .logo{
  color: var(--text-color);
}

.sticky .navbar a{
  color: var(--text-color);
}

.sticky a:hover{
  background: var(--bg-color);
  color: #29c3e5;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}

.home-offer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.home-offer h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--big-font);
  line-height: 103px;
  color: #557177;
  padding-bottom: 3rem;
}

.home-offer p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--small-font);
  line-height: 39px;
  text-align: center;

  color: #000000;
}

.home-image-flex{
  display: flex;
  flex-direction: column;
}

.home-image-flex h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--big-font);
  line-height: 103px;
  color: #FFFFFF;
  margin-top: 78px;
  margin-left: 96px;

}

.home-flexbox-item-1{
  background: url(./media/home_image1.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-1:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.home-flexbox-item-2{
  background: url(./media/home_image2.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-2:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.home-flexbox-item-3{
  background: url(./media/home_image3.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-3:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.home-flexbox-item-4{
  background: url(./media/home_image4.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
  transition: .3s;
}

.home-flexbox-item-4:hover{
  transform: scaleY(1.2);
  z-index: 2;
}

.continer{
  padding-bottom: 10rem;
}

.continer-box h4 {
  position: absolute;
  width: 150px;
  height: 85px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #557177;
}

.row-items{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: var(--big-font);
  line-height: 103px;
  color: #557177;
  margin: 80px;
  margin-bottom: 40px;
  text-align: center;
}

/* Flights CSS */
.flight{
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(./media/flights_bg.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
}

.flight-text{
  color: #ffffffda;
  position: relative;
  float: left;
  padding: 30px;
  bottom: 20%;
  font-size: 50px;
  font-weight: 500;
}

#from {
  width: 200px;
}
#to {
  width: 200px;
}
.search input {
  border:1px solid rgba(0,0,0,.25);
  border-radius: 0.4em;
  font-size: 17px;
  padding: 10px;
}
.search input:focus, select:focus{
  outline: #a8c3e094;
  
  /* border: 2px; */
}


.title {
  font-family: 'Inter';
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: #557177;
  margin-top: 8%;
  margin-bottom: 2%;
}
.mySlides {display: none}
.mySlides > img {vertical-align: middle; 
  max-height: 400px;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slidetext {
  background-color: #a8c3e0af;
  border-radius: 25px;
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 26%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activepic, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.one {
  border-radius: 25px;
  width: 100%;
  height: 250px;
}
.two {
  max-width: 110px;
  float: right;
}

.title2 {
  font-family: 'Inter';
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: #557177;
  grid-area: header2; 
  margin-top: 12%;
  margin-bottom: 2%;
}

.flight_button {
  border: none;
  border-radius: 1em;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  grid-area: search;
}

.passengers {grid-area: passengers;}
.airport1 {grid-area: airport1;}
.airport2 {grid-area: airport2;}
.check1 {grid-area: check1;}
.check2 {grid-area: check2;}

.airport1, .airport2, .check1, .check2, .passengers {
  font-size: large;
  padding: 15px;
}

.search {
  display: grid;
  grid: 'airport1 airport2 passengers' 'check1 check2 search';
  width: 70%;
  background-color: #ffffffc6;
  padding: 20px;
  border-radius: 1em;
  z-index: 5;
  position: absolute;
  top: 59%;
  margin-left: 15%;
}

#passengers {
  width: 90px;
}

.flights .cust {
  padding-top: 10px;
  padding-right: 10px;
}
.flights .recommendations{
  margin: 30px;
  font-family: 'Inter';
  color: #557177;
}
.review1 {
  font-style: italic;
}
.flights h2{
  font-size: 40px;
  text-align: center;
  font-family: 'Inter';
  color: #557177;
}
.rec h2 {
  padding-top: 30px;
}
.flights .rec-recommendations{
  display: flex;
}
.flights .rec-recommendations .rec-box{
  margin: 5px;
  padding: 17px;
  font-size: 20px;
  text-decoration: none;
  transition: transform .2s;
}
.flights .rec-recommendations .recanim:hover{
  transform:scale(1.1);
}
.flights .rec-recommendations .rec-box p{
  padding-top: 10px;
}
.flights .reviewer {
  text-align: left;
  padding-left: 10px;
}

.flights .review .review1 {
  text-align: center;
  width: 50%;
  float: left;
}

@media (max-width: 900px){
  .flights .rec-recommendations{
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.activeanim {
  opacity: 1;
}
.activeanim.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.activeanim.fade-left {
  animation: fade-left 1s ease-in;
}
.activeanim.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Hotels CSS */

.hotel{
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(./media/hotel_bg.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
}

.hotel-text{
  color: #ffffffda;
  position: relative;
  left: 38%;
  bottom: 18%;
  font-size: 50px;
  font-weight: 500;
}

.hotel-one {
  border-radius: 25px;
  max-width: 90%;
  height: 250px;
}
.rev-star {
  max-width: 110px;
  margin-top: 4%;
  /* border-radius: 50%; */
}

.hotel-two {
  max-width: 110px;
  margin-top: 4%;
  margin-right: 35%;
}

.title-rec { grid-area: header2;}
.rec1 { grid-area: rec1; font-size: 25px;}
.rec2 { grid-area: rec2; font-size: 25px;}
.rec3 { grid-area: rec3; font-size: 25px;}
.rec4 { grid-area: rec4; font-size: 25px;}
.hotel_recommendations {
  width: 100%;
  display: grid;
  grid-template-areas: 
  'header2 header2 header2 header2'
  'rec1 rec2 rec3 rec4';
  padding: 50px;
  gap: 10px;
  position: absolute;
  top: 95%;
  font-size: xx-large;
  text-align: center;
}

.title-rec {
  font-family: 'Inter';
  font-size: 70px;
  text-align: center;
  padding: 10px;
  color: #557177;
  padding-bottom: 25px;
  margin-top: -5%;
}

.hotel_book {grid-area: hotel_book;}
.room_type {grid-area: room_type;}
.hotel-check1 {grid-area: hotel-check1;}
.hotel-check2 {grid-area: hotel-check2;}

.hotel_book {
  font-size: large;
  transform: translate(10px, 5px);
}

.room_type {
  font-size: large;
  transform: translate(25px, 5px);
}

.hotel-check1 {
  font-size: large;
  transform: translate(10px, -40px);
}

.hotel-check2 {
  font-size: large;
  transform: translate(30px, -40px);
}

.room-choice {
  font-size: large;
  transform: translate(200px, 10px);
}

.adults {
  font-size: large;
  transform: translate(-390px, 130px);
} 

.children {
  font-size: large;
  padding: 15%;
  transform: translate(-360px, 105px);
}

.no_of_room {
  font-size: large;
  transform: translate(-100px, 25px);
}

.hotel-search {
  display: grid;
  grid: 'hotel_book room_type' 'hotel-check1 hotel-check2';
  width: 30%;
  height: 35%;
  background-color: #ffffffc6;
  border: solid black 2px;
  padding: 20px;
  border-radius: 1em;
  position: absolute;
  top: 54%;
  margin-left: 37.5%;
}

.hotel_button {
  border-radius: 1em;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  grid-area: search;
  border: none;
  height: 40px;
  width: 180px;
  background-color: #cfe0e4;
  transform: translate(-375px, 17px);
}

#hotel-passengers {
  width: 90px;
}

.rec1, .rec2, .rec3, .rec4, .continer-box {
  transition: transform .2s;
}

.rec1:hover, .rec2:hover, .rec3:hover, .rec4:hover, .continer-box:hover{
  transform:scale(1.2);
}

.title-pop {
  font-family: 'Inter';
  font-size: 70px;
  text-align: center;
  padding: 10px;
  color: #557177;
  margin-top: 43%;
}

/* Caption text */
.desc {
  background-color: #a8c3e094; 
  border-radius: 25px;
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 30%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* About_Us CSS */



/* Support CSS */

.support_container1 { 
  background-image: url(./media/dubai.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom:0%;
  padding-top: 15%;
}

.support_title1 {
  text-align: right;
  padding-right: 20%;
  padding-bottom: 40%;
  padding-left: 20%;
  font-size: 70px;
  font-family: 'Inter';
  color: #5a7184;
}

.support_title2 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
  font-size: 45px;
  color: #5a7184;
}

.support_title3 {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 5%;
  font-size: 35px;
  margin-left: 20%;
  margin-right: 20%;
  color: #5a7184;
}

a {
  text-decoration: none;
}

@media (max-width: 1400px) {
  header{
    padding: 17px 3%;
    transition: .3s;
  }
  
  header.sticky{
    padding: 10px 3%;
    transition: .3s;
  }

  section{
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 25%;
    padding-bottom: 60px;
    transition: .2s;
  }

  :root{
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1.5rem;
    --small-font: 1.5rem;
  
  }
}

@media (max-width: 1040px) {
  #menu-icon{
    display: block;
  }

  .sticky #menu-icon{
    color: var(--text-color);
  }

  .home{
    height: 88vh;
  }

  .navbar{
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgb(168, 168, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 30px;
    transition: 0.5s all;
  }

  .navbar a{
    display: block;
    margin: 1.2rem 0;
  }

  .navbar a:hover{
    background: var(--bg-color);
    color: #29c3e5;
    box-shadow: 5px 10px 30px rgba(46, 45, 45, 0.2);
    border-radius: 4px;
  }

  .sticky .navbar a{
    color: var(--bg-color);
  }

  .sticky .navbar a:hover{
    background: var(--bg-color);
    color:  #29c3e5;
  }

  .open{
    right: 0;
  }

  .about-home-text h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 97px;
    color: #FFFFFF;
  }
  
  .about-home-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
  }

  .about-home-text{
    position: relative; /* position the text content relative to the section */
    margin-right: auto;
    margin-left: auto;
  }

}


.slideshow-container2 {
  position: relative;
  margin: auto;
}

section .cust {
  padding-top: 10px;
  padding-right: 10px;
}
section .recommendations{
  margin: 30px;
  font-family: 'Inter';
  color: #557177;
}
section h2{
  font-size: 40px;
  text-align: center;
}
section .rec-recommendations{
  display: flex;
}

section .rec-recommendations .rec-box{
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
section .rec-recommendations .rec-box p{
  padding-top: 10px;
}
section .reviewer {
  text-align: left;
  padding-left: 10px;
}

section .review .review1 {
  text-align: center;
  width: 50%;
  float: left;
}

/* SUPPORT */

.support_container1 { 
  background-image: url(./media/dubai.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom:0%;
  padding-top: 15%;
}

.support_title1 {
  text-align: right;
  padding-right: 20%;
  padding-bottom: 40%;
  padding-left: 20%;
  font-size: 70px;
  font-family: 'Inter';
  color: #5a7184;
}

.support_title2 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
  font-size: 45px;
  color: #5a7184;
}

.support_title3 {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 5%;
  font-size: 35px;
  margin-left: 20%;
  margin-right: 20%;
  color: #5a7184;
}

a {
  text-decoration: none;
}

.col-md-7{
  padding-top:2%;

}

.text h2{
  padding-top: 5%;
  font-size: 70px;
  padding-bottom: 2%;
}

.row-items h4{
  font-size: 30px;
  padding-top: 2%;
}

.line{
  padding-bottom: 6%;
  background-color: #fff;
}

